/* Font Fetch */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark: #000;
  --lightDark: #161b22;
  --light: #fff;
  --primary: #00c3ff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--light);
  background: var(--lightDark);
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
}

nav {
  border-bottom: 1px solid var(--light);
  margin-bottom: 1rem !important;
}

nav .logo span {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
}

nav .logo span:hover {
  cursor: pointer;
}

nav .search-div input {
  border: 0.5px solid var(--light);
  border-radius: 6px;
  padding: 0.4rem 0.5rem;
  width: 100%;
  color: var(--light);
  background-color: var(--lightDark);
  outline: unset;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
}

nav .search-div input:focus {
  box-shadow: 0px 0px 6px rgb(255, 255, 255);
}

.services h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 1rem;
}

.social-medias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ICONS */
.services .fa-brands {
  padding: 20px;
  font-size: 3rem;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: var(--light);
  border-radius: 10px;
}

.services .fa-brands:hover {
  opacity: 0.7;
}

.services .fa-tiktok {
  background: #183153;
}

.services .fa-facebook {
  background: #3b5998;
}

.services .fa-twitter {
  background: #55acee;
}
.services .fa-youtube {
  background: #bb0000;
}

.services .fa-instagram {
  background: #125688;
}

.download-area {
  text-align: center;
}

.user-links input {
  width: 100%;
  padding: 1rem 2rem;
  outline: unset;
  border: 1px solid var(--light);
  border-radius: 6px;
}

.user-links .primaryBtn {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background: var(--primary);
  outline: unset;
  border: none;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.user-links .primaryBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--dark);
  border-radius: 6px;
}

footer .fa-brands {
  text-decoration: unset;
  color: var(--light);
  font-size: 1.5rem;
  padding: 5px;
}

footer .fa-brands:hover {
  color: var(--primary);
  cursor: pointer;
  transform: scale(1.1);
}

.footer-social-icons {
  margin: 1rem auto;
}
